<%-include("./partials/header")-%>

<h1><%=homePageHeading%></h1>
<p><%=startPageContent%></p>

<%for(let i=0; i<posts.length; i++){%>
	<%console.log(posts[i].title);%>							 
<%}%>

<%-include("./partials/footer")-%>